.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px; /* Espaçamento entre as categorias */
  margin-top: 10px;
}

.category-item {
  padding: 12px 20px;
  border-radius: 16px;
  background-color: #f6f6f6;
  color: #004765;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-item:hover,
.category-item.active {
  background-color: #0078d4;
  color: #ffffff;
}

.services-container {
  margin-top: 40px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
}

.container-32 {
  flex: 1 1 calc(32% - 20px);
  min-width: 300px;
  height: fit-content;
  margin: 0;
}

.container-64 {
  flex: 2 1 calc(68% - 20px);
  min-width: 600px;
  margin: 0;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}

.service-item {
  flex: 1 1 calc(50% - 20px); /* Máximo 2 por linha */
  max-width: calc(50% - 20px);
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #0078d4;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 15px;
  box-sizing: border-box;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
