.btn-principal {
    background-color: #fff;
    color: #004765;
    display: flex;
    flex-direction: row;
    padding: 16px 8px;
    justify-content: center;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-secundario {
    background-color: #004765;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 16px 8px;
    justify-content: center;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-principal:hover {
    background-color: #dddddd;
    transition: all 0.2s ease-out;    
}

.btn-secundario:hover {
    background-color: #022d44;
    transition: all 0.2s ease-out;    
}

.btn-icon {
    width: 10%;
    position: relative;
    left: 0;
}

.btn-with-logo {
    justify-content: space-between;
    align-items: center;
}

.btn-with-logo .btn-text {
    width: 90%;
    text-align: center;
}