.home-card {
    width: 400px;
    height: 280px;
    display: block;
    border-radius: 16px;
    overflow: hidden;
    text-align: start;
}

.principal {
    background-image: url('../assets/backCardCinza.jpg');
    background-size: cover;
    background-color: #0085BE;
    background-blend-mode: soft-light;
    color: #fff;
    padding: 40px;
}

.secundario {
    background-image: url('../assets/backCardCinza.jpg');
    background-size: cover;
    background-color: #004765;
    background-blend-mode: soft-light;
    color: #fff;
    padding: 40px;
}

.transparente {
    width: 480px;
    height: 340px;
    border-radius: 16px;
    color: #044f66;
}

.transparente h1{
    font-size: 40px;
}

.clickablecard-container {
    width: 480px;
    height: 340px;
    display: block;
    border-radius: 16px;
    background-size: cover;
    cursor: pointer;
}
  
.clickablecard-container:hover {
    filter: brightness(80%);
    transition: all 0.2s ease-out;    
}

@media screen and (max-width: 960px) {
    .home-card {
        width: 72%;
        height: auto;
        display: block;
        border-radius: 16px;
        overflow: hidden;
        text-align: start;
    }

    .clickablecard-container {
        width: 72%;
        display: block;
        border-radius: 16px;
        background-size: cover;
        cursor: pointer;
    }
}