.service-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  border-radius: 4px;
  padding: 15px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  height: 200px; /* Altura uniforme */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.service-card-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.category-container {
  background-color: #0078d4;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 4px;
  align-self: flex-start; /* Tag alinhada à esquerda */
}

.service-card-title {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  margin: 8px 0;
}

.service-card-description {
  font-size: 14px;
  color: #555555;
  margin: 0;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaçamento entre os cards */
  justify-content: start;
}

.service-item {
  flex: 1 1 calc(33.33% - 20px); /* 3 cards por linha */
  max-width: calc(33.33% - 20px);
}
