.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category-container {
    background-color: #fff;
    border-radius: 12px;
    color: #0F62FE;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.service-card-title {
    font-family: "Freeman", sans-serif;
    font-size: 20px; /* Ajusta tamanho para melhor legibilidade */
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    line-height: 1.4; /* Ajusta espaçamento entre linhas */
}

.service-card-description {
    font-family: "Pontano Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
}

.services-card-details {
    font-family: "Pontano Sans", sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: auto;
}

.white {
    color: #fff;
}

.w60 {
    width: 100%; /* Ajusta largura do botão */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
